# Compiled class files
*.class

# NodeJS Related
**/node_modules

# Log Files
*.log

# Package Files
*.jar
*.war
*.zip
*.tar.gz

# Build Related
gradlew
gradlew.bat
**/.gradle
**/gradle
**/build
**/lib
**/out

# IntelliJ Related
*.iws
#*.iml
#*.ipr
**/.idea
**/.ideaDataSources

### STS ###
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache

### NetBeans ###
**/nbproject/private
**/nbbuild
**/dist
**/nbdist
**/.nb-gradle

# VM crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
